/*
<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <link rel="stylesheet" href="../stylesheet/style.css">
            <title>LEVEL</title>
    </head>
<body>
    <div class="">
        
    </div>
</body>
</html>
*/

/*for all the levels*/
body{
    background-color:#000;
}
/*index*/
.start_button{
    text-align: center;
    margin-top:10%;
}
.rules_button{
    background-color: #818181;
    border-radius: 85px;
    color:#fff;
    text-align: center;
    font-size: 40px;
    margin:10px 36% 10px 36%;
    padding-top:66px;
    padding-bottom:66px;
}
/*level 1*/
.hand{
    text-align: center;
}
.hint{
    color:#fff;
    text-align: center;
    margin-top: 20%;
}
/*level 2*/
.toasty{
    position: absolute;
    left: 0px;
    bottom: 0px;
}
/*level 3*/
.binary_code{
    color:#fff;
    text-align: center;
    margin-top: 20%;
}
/*level 4*/
.dolor_sit_amet{
    text-align: center;
    color:#fff;
    margin-top:20%;
}
/*level 5*/
.spell{
    text-align:center;
    margin-top:5%;
}
/*level 6*/
.shapeless{
    text-align:center;
    margin-top:5%;
    color:#fff;
    font-size:48px;
}
/*level 7*/
.none{
    font-size:30px;
    text-align: center;
    margin-top: 5%;
    color:#FFF;
}